@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0F0F13] text-gray-100 antialiased selection:bg-accent selection:text-white;
  }
}

/* Scrollbar premium styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
}
